.form-border{
    border-right: 3px solid rgba(189, 186, 186, 0.8);
    border-bottom: 3px solid rgba(189, 186, 186, 0.8);
    border-top: 3px solid rgba(189, 186, 186, 0.4);
    border-left: 3px solid rgba(189, 186, 186, 0.4) ;
    border-radius: 12px; 
    margin: 20px;
    padding: 18px;
}
.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 15px;
}
#loading{
    position:fixed;
    z-index:99;/* make higher than whatever is on the page */
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width:100px;
    height:100px;
}
