{% extends 'base.html' %}
{% load static %}
{% block title %}
Page Not Found!
{% endblock %}
{% block favicon %}
  <link rel="shortcut icon" href="{% static 'Images/favicon.ico' %}" type="image/x-icon">
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <br>
        <div class="jumbotron">
            <h1>ERROR 403!</h1>
            <h4>Forbidden</h4>
            <p>Access to this resource on the server is denied!</p>
            <br>
            <a class="btn btn-warning" href="{% url 'home' %}">Go to Home</a>
        </div>
    </div>
    {% endblock %}