{% extends "base.html" %}
{% load static %}
{% block title %}Check your email{% endblock %}
{% block favicon %}
  <link rel="shortcut icon" href="{% static 'Images/favicon.ico' %}" type="image/x-icon">
{% endblock %}
{% block button %}
<a href="{% url 'login' %}" class="form-control btn btn-success my-2 my-sm-0 mr-2">Login</a>
<a href="{% url 'register' %}" class="form-control btn btn-info my-2 my-sm-0">Register</a>
{% endblock %}
{% block content %}
<div class="container w-75"><br>
    <div class="alert alert-info">
        An Email has been sent with instructions to reset your password.
    </div>
    <a href="{% url 'home' %}" class="form-control btn btn-warning my-2 my-sm-0">Go Home</a>
</div>
{% endblock %}