{% extends 'base.html' %}
{% load static %}
{% block title %}
Stripe
{% endblock %}
{% block favicon %}
  <link rel="shortcut icon" href="{% static 'Images/stripe_favicon.ico' %}" type="image/x-icon">
{% endblock %}
{% block content %}

<style type="text\css">
    /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
    .StripeElement {
        box-sizing: border-box;

        height: 40px;

        padding: 10px 12px;

        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;

        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
</style>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="{% static 'JS/city_state.js' %}"></script>
<div class="container w-75">
    <br>
    <img style="width: 149px;height: 35px;position:relative;left: 20px;"  class="img-fluid"  src="{% static 'Images/Powered by Stripe - blurple.png' %}" border="0" alt="Powered by Stripe">
</div>
<div class="container w-75">
    
    <form class="form-group form-border" method="POST" id="payment-form">
        {% csrf_token %}
        <div class="form-row">
            <label for="card-element" style="width: 100%;">
        
                    <div class="row">
                        <legend class = "col-md-10">Credit or debit card
                        </legend>
                        <div class="col-md-2">
                            <img class="img-fluid" style="height: 40px;width: 100px;" src="{% static 'Images/stripe.png' %}" alt="oops!stripe image is not available.">
                        </div>
                    </div>
                <hr>
            </label>
            <input class="form-control" type="text" name="name" placeholder="Name" required><br><br>
            <!-- <input class="form-control" type="text" name="email" placeholder="Email" required><br><br> -->
            <input class="form-control" type="text" name="line1" placeholder="Address" required><br><br>
            <input class="form-control" type="text" name="postal_code" placeholder="Postal Code" required><br><br>
            <div style="width: 100%; display: flex; margin: 0 auto; 
            float: none; " class="row">
                <select style="height: 38px;" class="form-control col-sm-4" name="country" id="country" size="1"
                    required>
                    <option value="" disabled selected selected="selected">Country</option>
                </select>
                &nbsp;
                <select style="height: 38px;" class="form-control col-sm-4" name="state" id="state" size="1">
                    <option value="" disabled selected selected="selected">State</option>
                </select>
                &nbsp;
                <input class="form-control col-sm-3 " type="text" name="city" placeholder="City" required><br><br>
            </div>

            <div id="card-element" class="form-control">
                <!-- A Stripe Element will be inserted here. -->
            </div>
            <!-- Used to display form errors. -->
            <div style="color: red;" id="card-errors" role="alert"></div>
        </div>
        <br>
        <button class="btn btn-block" style="color:white;background-color:#6d58db;">Pay ${{product.price}}</button>
    </form>
</div>
<div class="container w-75">
    <img style="width: 480px;height: 105px;float:right;"  class="img-fluid"  src="{% static 'Images/stripe_cards.png' %}" border="0" alt="stripe cards">

</div>
<script>
    // Create a Stripe client.
    var stripe = Stripe('pk_live_idiigffCUjpml2pjXhIjjZNc');

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', { style: style });

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');
    // Handle real-time validation errors from the card Element.
    card.on('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Handle form submission.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
            }
        });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
    }
</script>
{% endblock %}